/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: eWayTable;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #6b8e23;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #6b8e23;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	max-id: 8;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #6b8e23;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #6b8e23;
	name: Header1;
	id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	background-color: #9acd32;
	color: #ffffff;
	font-family: Verdana;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #6b8e23;
	name: Body1;
	id: 1;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	font-family: Verdana;
	font-size: 10pt;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Body2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #6b8e23;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
}


/* Cell Styles: */
 
.TableStyle-eWayTable
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #6b8e23;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #6b8e23;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #6b8e23;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6b8e23;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-eWayTable-Column-Column1
{
	
}

.TableStyle-eWayTable-Head-Header1
{
	
}

.TableStyle-eWayTable-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: Verdana;
	background-color: #9acd32;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-eWayTable-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Verdana;
}

.TableStyle-eWayTable-FootI-Column1-
{
	
}

.TableStyle-eWayTable-FootI-Column1- p
{
	
}

.TableStyle-eWayTable-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-FootE-Column1- p
{
	
}

.TableStyle-eWayTable-FootF-Column1-
{
	
}

.TableStyle-eWayTable-FootF-Column1- p
{
	
}

.TableStyle-eWayTable-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-FootH-Column1- p
{
	
}

.TableStyle-eWayTable-FootD-Column1-
{
	
}

.TableStyle-eWayTable-FootD-Column1- p
{
	
}

.TableStyle-eWayTable-FootC-Column1-
{
	
}

.TableStyle-eWayTable-FootC-Column1- p
{
	
}

.TableStyle-eWayTable-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-FootB-Column1- p
{
	
}

.TableStyle-eWayTable-FootA-Column1-
{
	
}

.TableStyle-eWayTable-FootA-Column1- p
{
	
}

.TableStyle-eWayTable-FootG-Column1-
{
	
}

.TableStyle-eWayTable-FootG-Column1- p
{
	
}

.TableStyle-eWayTable-Body-Body1
{
	
}

.TableStyle-eWayTable-BodyI-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyI-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyE-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyE-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyF-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-BodyF-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyH-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyH-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyD-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-BodyD-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyC-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyC-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyB-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyB-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyA-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyA-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-BodyG-Column1-Body1
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyG-Column1-Body1 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-eWayTable-Body-Body2
{
	
}

.TableStyle-eWayTable-BodyI-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyI-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyE-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyE-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyF-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-BodyF-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyH-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyH-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyD-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #6b8e23;
	border-bottom-style: solid;
}

.TableStyle-eWayTable-BodyD-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyC-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyC-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyB-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 1px;
	border-right-color: #6b8e23;
	border-right-style: solid;
}

.TableStyle-eWayTable-BodyB-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyA-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyA-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-eWayTable-BodyG-Column1-Body2
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	background-color: #e7f3ce;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-eWayTable-BodyG-Column1-Body2 p
{
	font-family: Verdana;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}


